---
import Container from "../../components/Container.astro"
import Layout from '../../layouts/Layout.astro';
import FormRegister from '../../components/FormRegister.jsx'
const id = Astro.request
console.log(id)
---
<Layout title="Información de entrada">
	<main class="space-y-20">
		<Container>
            <Container>
                    <FormRegister client:only="react" />
            </Container>
	</main>
</Layout>
{ (
    <div>Pago</div>
)}
