---
import Container from "../components/Container.astro"
import Layout from '../layouts/Layout.astro';
import Team from "../components/Team.astro";
---

<Layout title="Gracias">
	<main class="space-y-20">
		<Container>

        </Container>
	</main>
</Layout>